/* src/components/App/App.module.css */
.container {
  width: 100%;
  background: linear-gradient(
    to bottom right,
    #cccccc 0%,
    #ffc0cb 25%,
    #87ceeb 50%,
    #fffacd 75%
  );
  background-attachment: fixed;
  min-height: 100vh;
}

.title {
  color: #333;
}
